<div class="main-div">
  <div class="container-flud ml-5">
    <div class="row">
      <h3 class="header ml-3">{{request.title}}</h3>
    </div>
    <div class="row">
      <p class="mt-2 ml-2">Problem Description: {{request.description}}</p>
    </div>
    <div class="row">
      <p class="mt-2 ml-2">Author: {{request.user.firstName}} {{request.user.lastName}}</p>
    </div>
    <div class="row text-center">
      <button class="my-button" (click)="markAsProblem()">Mark as problem</button>


    </div>
    <div style="margin-top:2em" class="row text-center">

      <button class="my-button" (click)="markAsChange()">Mark as change</button>

    </div>
  </div>
</div>
