<div *ngIf="currentProblem != null && currentUser != null" class="main-div">
<div class="col-sm-12">
  <div class="m-2">
    <h3 class="header">Problem processing</h3>
  </div>

<div class="group-box mb-2">
  <div class="row mt-2">
    <div class="col-sm-2"><span>Problem:</span></div>
      <div class="col-sm-10"><div class="input-group">
        <input *ngIf="currentProblem != null" [(ngModel)]="currentProblem.title" type="text" class="form-control" cols="38" >
        <input *ngIf="currentProblem == null" type="text" class="form-control" cols="38">
      </div>
    </div>
  </div>
</div>

<div class="group-box">
  <div class="row">
    <div class="col-sm-2"><span>Status:</span></div>
      <div class="col-sm-10"><div class="input-group">
        <input *ngIf="currentProblem != null" [(ngModel)]="currentProblem.status" type="text" class="form-control" placeholder="{{currentProblem.status}}" readonly>
        <input *ngIf="currentProblem == null" type="text" class="form-control"  readonly>
        <div class="input-drop input-group-btn">
          <div class="dropdown" appDropdownDirective>
            <button class="btn btn-primary " type="button" data-toggle="dropdown">
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor="let status of statusList" name="status" (click)="selectStatus(status)">{{ status }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm-2"><span>Priority:</span></div>
      <div class="col-sm-10"><div class="input-group">
        <input *ngIf="currentProblem != null" [(ngModel)]="currentProblem.priority" type="text" class="form-control" placeholder="{{ currentProblem.priority }}" readonly>
        <input *ngIf="currentProblem == null" type="text" class="form-control" readonly>
        <div class="input-drop input-group-btn">
          <div class="dropdown" appDropdownDirective>
            <button class="btn btn-primary " type="button" data-toggle="dropdown">
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor="let priority of priorityList" (click)="selectPriority(priority)">{{ priority }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="currentUser.role=='manager'" class="group-box mt-3">
  <p class="my-header">Problem classification</p>
  <div class="row">
    <div class="col-sm-2"><span>Category:</span></div>
      <div class="col-sm-10"><div class="input-group">
        <input *ngIf="currentProblem != null" [(ngModel)]="currentProblem.category" type="text" class="form-control" placeholder="{{ currentProblem.category }}" readonly>
        <input *ngIf="currentProblem == null" type="text" class="form-control" readonly>
        <div class="input-drop input-group-btn">
          <div class="dropdown" appDropdownDirective>
            <button class="btn btn-primary " type="button" data-toggle="dropdown">
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor="let category of categoryList" (click)="selectCategory(category)">{{ category }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="currentUser.role === 'manager'" class="group-box mt-3">
  <p class="my-header">Problem assign</p>
  <div class="row">
    <div class="col-sm-2"><span>Group:</span></div>
      <div class="col-sm-10"><div class="input-group">
        <input *ngIf="currentProblem != null && currentProblem.group != null" [(ngModel)]="currentProblem.group.name" type="text" class="form-control" placeholder="{{ currentProblem.group.name }}" readonly>
        <input *ngIf="currentProblem != null && currentProblem.group == null"  type="text" class="form-control" readonly>
        <input *ngIf="currentProblem == null"  type="text" class="form-control" readonly>
        <div class="input-drop input-group-btn">
          <div class="dropdown" appDropdownDirective>
            <button class="btn btn-primary " type="button" data-toggle="dropdown">
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor="let group of groupList" (click)="selectGroup(group)">{{ group.name }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!----<div class="row mt-2">
    <div class="col-sm-2"><span>Representative:</span></div>
      <div class="col-sm-10"><div class="input-group">
        <input [(ngModel)]="selectedGroup.teamLead" type="text" class="form-control" placeholder="{{ selectedGroup.teamLead }}" readonly>
        <div class="input-drop input-group-btn">
          <div class="dropdown" appDropdownDirective>
            <button class="btn btn-primary " type="button" data-toggle="dropdown">
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor="let group of selectedGroup.members" (click)="selectTeamLead(group)">{{ group }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>--->
<br/>
  <br/>
</div>

<div class="col-sm-12" style="display:flex; justify-content: center">
  <button *ngIf="filter !== 'change'" class="my-button" (click)="save()">Save changes</button>
  <button *ngIf="filter === 'change'" class="my-button" (click)="forward()">Forward to Change Management</button>
</div>
<div class="col-sm-12">
  <br/>
  <br/>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#documentation">Problem Documentation</a></li>
    <li><a data-toggle="tab" href="#activities">Problem Activities</a></li>
    <li><a data-toggle="tab" href="#history">Problem History</a></li>
  </ul>
    <div class="tab-content" style="height:100% !important">
      <div style="height:100% !important" id="documentation" class="tab-pane fade in active">
        <app-documentation [id] = "currentProblem.id"></app-documentation>
      </div>
      <div id="activities" class="tab-pane fade">
        <app-activity [id] = "currentProblem.id"></app-activity>
      </div>
      <div id="history" style="overflow-y: scroll; overflow-x:hidden; height:400px;" class="tab-pane fade">
        <div *ngFor = "let log of logList">
          {{log.activity}}
        </div>
      </div>
    </div>

  </div>


</div>
