<div *ngIf="currentProblem != null && currentUser != null" class="main-div">
<div class="m-2">
  <h3 class="header">Problem processing</h3>
</div>

<div class="group-box mb-2">
  <div class="row mt-2">
    <div class="col-sm-2"><span>Problem:</span></div>
      <div class="col-sm-10"><div class="input-group">
        <input *ngIf="currentProblem != null" [(ngModel)]="currentProblem.title" type="text" class="form-control" cols="38" >
        <input *ngIf="currentProblem == null" type="text" class="form-control" cols="38">
      </div>
    </div>
  </div>
</div>

<div class="group-box">
  <div class="row">
    <div class="col-sm-2"><span>Status:</span></div>
      <div class="col-sm-10"><div class="input-group">
        <input *ngIf="currentProblem != null" [(ngModel)]="currentProblem.status" type="text" class="form-control" placeholder="{{currentProblem.status}}" readonly>
        <input *ngIf="currentProblem == null" type="text" class="form-control"  readonly>
        <div class="input-drop input-group-btn">
          <div class="dropdown" appDropdownDirective>
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor="let status of statusList" name="status" (click)="selectStatus(status)">{{ status }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm-2"><span>Priority:</span></div>
      <div class="col-sm-10"><div class="input-group">
        <input *ngIf="currentProblem != null" [(ngModel)]="currentProblem.priority" type="text" class="form-control" placeholder="{{ currentProblem.priority }}" readonly>
        <input *ngIf="currentProblem == null" type="text" class="form-control" readonly>
        <div class="input-drop input-group-btn">
          <div class="dropdown" appDropdownDirective>
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor="let priority of priorityList" (click)="selectPriority(priority)">{{ priority }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="currentUser.role=='manager'" class="group-box mt-3">
  <p class="my-header">Problem classification</p>
  <div class="row">
    <div class="col-sm-2"><span>Category:</span></div>
      <div class="col-sm-10"><div class="input-group">
        <input *ngIf="currentProblem != null" [(ngModel)]="currentProblem.category" type="text" class="form-control" placeholder="{{ currentProblem.category }}" readonly>
        <input *ngIf="currentProblem == null" type="text" class="form-control" readonly>
        <div class="input-drop input-group-btn">
          <div class="dropdown" appDropdownDirective>
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor="let category of categoryList" (click)="selectCategory(category)">{{ category }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="currentUser.role === 'manager'" class="group-box mt-3">
  <p class="my-header">Problem assign</p>
  <div class="row">
    <div class="col-sm-2"><span>Group:</span></div>
      <div class="col-sm-10"><div class="input-group">
        <input *ngIf="currentProblem != null && currentProblem.group != null" [(ngModel)]="currentProblem.group.name" type="text" class="form-control" placeholder="{{ currentProblem.group.name }}" readonly>
        <input *ngIf="currentProblem != null && currentProblem.group == null"  type="text" class="form-control" readonly>
        <input *ngIf="currentProblem == null"  type="text" class="form-control" readonly>
        <div class="input-drop input-group-btn">
          <div class="dropdown" appDropdownDirective>
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor="let group of groupList" (click)="selectGroup(group)">{{ group.name }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!----<div class="row mt-2">
    <div class="col-sm-2"><span>Representative:</span></div>
      <div class="col-sm-10"><div class="input-group">
        <input [(ngModel)]="selectedGroup.teamLead" type="text" class="form-control" placeholder="{{ selectedGroup.teamLead }}" readonly>
        <div class="input-drop input-group-btn">
          <div class="dropdown" appDropdownDirective>
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor="let group of selectedGroup.members" (click)="selectTeamLead(group)">{{ group }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>--->

<div class="row mt-2 text-center w-100">
  <div class="col-sm-12">
    <button class="my-button" (click)="save()">Save changes</button>
  </div>
</div>

<div class="row mt-3 text-center w-100">
  <div class="col-sm-5">
    <button *ngIf="currentProblem != null && currentUser.role=='manager'" routerLink="/manager/problem/{{currentProblem.id}}/documentation" class="my-button">Documentation</button>
    <button *ngIf="currentUser.role=='technician'" routerLink="/technician/problem/{{currentProblem.id}}/documentation" class="my-button">Documentation</button>
  </div>
</div>
<div class="row mt-2 text-center w-100">
  <div class="col-sm-5">
      <button *ngIf="currentUser.role=='manager'" routerLink="/manager/problem/{{currentProblem.id}}/activities" class="my-button">Activities</button>
      <button *ngIf="currentUser.role=='technician'" routerLink="/technician/problem/{{currentProblem.id}}/activities" class="my-button">Activities</button>
  </div>
</div>
<div class="row mt-2 text-center w-100">
  <div class="col-sm-5">
    <button class="my-button">History</button>
  </div>
</div>
</div>

<!-----<div class="group-box">
  <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#" (click)="changeTab(0)"><h3>Dokumentacija</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="changeTab(1)"><h3>Aktivnosti</h3></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="changeTab(2)"><h3>Historija</h3></a>
      </li>
  </ul>
</div>
</div>


<app-documentation *ngIf="selectedTab == 0" ></app-documentation>
<app-activity *ngIf="selectedTab == 1" ></app-activity> --->

