<form [formGroup]="problemForm" class="problem-form" (ngSubmit)="onSubmit()">
  <div class="container-fluid m-2">
    <div class="row">
      <h3 class="header">New problem</h3>
    </div>
  </div>
  <div class="form-group m-2">
    <input type="text" class="form-control" formControlName="title" placeholder="Title" [ngClass]="{'is-invalid' : submitted && con.title.errors}">
    <div *ngIf="submitted && con.title.errors" class="invalid-feedback">
      <div *ngIf="con.title.errors.required">Title is required.</div>
    </div>
  </div>
  <div class="form-group m-2">
    <textarea type="text" class="form-control" formControlName="description" placeholder="Description (5-250 characters)" [ngClass]="{'is-invalid':submitted && con.description.errors}"></textarea>
    <div *ngIf="submitted && con.description.errors" class="invalid-feedback">
      <div *ngIf="con.description.errors.maxlength">Description is too large (max 250 characters).</div>
      <div *ngIf="con.description.errors.minlength">Description is too short (min 5 characters).</div>
      <div *ngIf="con.description.errors.required">Description is required.</div>
    </div>
  </div>
  <div class="form-group m-2">
    <textarea type="text" class="form-control" formControlName="consequences" placeholder="Consequences (5-250 characters)" [ngClass]="{'is-invalid' : submitted && con.consequences.errors}"></textarea>
    <div *ngIf="submitted && con.consequences.errors" class="invalid-feedback">
      <div *ngIf="con.consequences.errors.maxlength">Description is too large (max 250 characters).</div>
      <div *ngIf="con.consequences.errors.minlength">Description is too short (min 5 characters).</div>
    </div>
  </div>
  <div class="from-group text-center">
    <button class="my-button">Send</button>
  </div>
</form>