.header {
    color: blue;
}

.request-form {
        height: 94%;
        background-color: #ffffff;
        opacity: 0.95;
        border-radius: 12px;
        margin-top: 2%;
        margin-bottom: 2%;
    }