.main-div {
    height: 94%;
    background: #ffffff;
    opacity: 0.9;
    border-radius: 12px;
    margin-top: 2%;
    margin-bottom: 2%;
    overflow: scroll;
    display: block;
  }

  #chartdiv {
    width: 100%;
    height: 500px;
  }