.input-drop{
    width: 11%;
}

h1, p{
    margin-left: 5%
}


.group-box{
    margin-top: 2%;
}

.main-div {
    background: #ffffff;
    opacity: 0.9;
    border-radius: 12px;
    margin-top: 2%;
    margin-bottom: 2%;
    overflow: hidden;
    display: block;
}
