<div class="main-div">
  <div class="m-2">
    <h3 *ngIf="filter === 'all'" class="header">All problems</h3>
    <h3 *ngIf="filter === 'new'" class="header">New problems</h3>
    <h3 *ngIf="filter === 'change'" class="header">Problems for Change</h3>

  </div>
  <div class="w-100" *ngFor="let problem of problems">
    <div [ngClass]="{'container-fluid' : true, 'problem-div' : true, 'low' : problem.priority === 'Nizak', 'medium' : problem.priority === 'Srednji', 'height' : problem.priority === 'Visok'}">
      <div class="row ml-2">
        <h4>{{problem.title}}</h4>
      </div>
      <div class="row ml-3">
        <p>Author: {{problem.user.firstName}} {{problem.user.lastName}}</p>
      </div>
   
      <div class="row text-center">
        <button  *ngIf="filter !== 'change'" routerLink="/manager/problem/{{problem.id}}" class="my-button m-2">Open problem</button>
        <button class="my-button m-2" routerLink="/manager/problem/{{problem.id}}/statisticalview">Statistical details</button>
        <button  *ngIf="filter === 'change'" routerLink="/manager/problem/{{problem.id}}/change" class="my-button m-2">Open problem</button>
      </div>
    </div>
  </div>
</div>
