.problem-div {
    border-radius: 12px;
    background-color: aliceblue;
    margin: 2%;
    width: 96%;
}

.main-div {
    height: 94%;
    background: #ffffff;
    opacity: 0.9;
    border-radius: 12px;
    margin-top : 0%;
    margin-bottom: 3%;
    overflow: none;
    display: block;
}

.h3 {
  margin-top: 0px !important;
}

.low {
  background-color:#ffff99;
}

.medium {
 background-color: #ffcccc;
}

.height {
  background-color: #ccffff;
}


