.activity-div {
    border-radius: 12px;
    background-color: aliceblue;
    margin: 2%;
    width: 96%;
}

.main-div {
    height: 400px;
    background: #ffffff;
    opacity: 0.9;
    border-radius: 12px;
    margin-top: 2%;
    margin-bottom: 2%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
}

